{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

    <header id="home-header">
        <div id="header-img"></div>
        <h1>SUBL'IMMO</h1>
        <h2>L'agence immobilière 100 % en ligne</h2>
    </header>

{% endblock %}
